body {
  margin: 0;
}
div {
  margin: 0;
}
img {
  display: block;
  width: 125%;
  height: auto;
  margin-left: 0;
  padding: 0;
}
h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 100px;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 0;
  margin-bottom: 0;
}
h1.animated {
  animation-duration: 5s;
}
h3 {
  font-family: 'Rock Salt', cursive;
  text-align: right;
  font-size: 15px;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom: 0px;
}
h3.animated {
  animation-duration: 10s;
}
h2 {
  font-family: 'Rock Salt', cursive;
  margin-left: 20%;
  margin-right: 20%;
}
p {
  font-family: 'Jura', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}
#lap1 {
  background-color: #9a9a9a;
  padding: .5em;
}
#lap2 {
  padding: .5em;
}
#lap3 {
  background-color: #9a9a9a;
  padding: .5em;
}
#lap4 {
  padding: .5em;
  background-color: #1a1a1a;
  color: white;
}
#lap5 {
  background-color: #9a9a9a;
  padding: .5em;
}
#lap7 {
  padding: .5em;
  background-color: #1a1a1a;
  color: white;
}
