body {
  margin: 0;
}
div {
  margin: 0;
}
img {
  display: block;
  width: 125%;
  height: auto;
  margin-left: 0;
  padding: 0;
}
h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 100px;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-family: 'Rock Salt', cursive;
  margin-left: 20%;
  margin-right: 20%;
}
p {
  font-family: 'Jura', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}
#lap1 {
  background-color: gray;
}
#lap3 {
  background-color: lightgreen;
}
#lap5 {
  background-color: lightblue;
}
#lap7 {
  background-color: lightgreen;
}
