// out: css/main.css, sourcemap: true

body {
  margin: 0;
  // padding-bottom: 25%;
}

div {
  margin: 0;
}

img {
  display: block;
  width: 125%;
  height: auto;
  margin-left: 0;
  padding: 0;
}

//ATTEMPT AT DOING PICTURE SLIDES WITH CSS

// .picDividers {
//   position: relative;
//   animation-name: slide;
//   animation-duration: 10s;
// }
//
// @keyframes slide {
//   0% {margin-left: 0;}
//   100% {margin-left: -25%;}
// }

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 100px;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: 'Rock Salt', cursive;
  text-align: right;
  font-size: 15px;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Rock Salt', cursive;
  margin-left: 20%;
  margin-right: 20%;
}

p {
  font-family: 'Jura', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

#lap1 {
  background-color: lighten(gray, 10%);
  padding: .5em;
}

#lap2 {
  padding: .5em;
}

#lap3 {
  background-color: lighten(gray, 10%);
  padding: .5em;
}

#lap4 {
  padding: .5em;
  background-color: lighten(black, 10%);
  color: white;
}

#lap5 {
  background-color: lighten(gray, 10%);
  padding: .5em;
}

#lap7 {
  padding: .5em;
  background-color: lighten(black, 10%);
  color: white;
}
